@model ReservationApplication.Models.ScheduleDetails

@{
    ViewBag.Title = "DetailsSchedule";
}

<h2>Details Schedule</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusDetails.BusNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusDetails.BusNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditSchedule", new { id = Model.ScheduleId }) |
    @Html.ActionLink("Back to List", "ScheduleBusList")
</p>
